{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Teams Organizational Chart</title>
        <link rel="stylesheet" type="text/css" href="{% static 'chart/tree.css' %}">
    </head>
    <body>

    <p>Teams Organizational Chart page by render</p>

    {% if user.is_authenticated %}
        <h4>Welcome {{ user.name }}!</h4>

    {% else %}
        <a href="{% url 'signin'%}"> Click here to sign in </a>
        
    {% endif %}

<!--parents-->
<ul>
    <li>
        <a href="{% url 'chart:index' %}">Go to Teams Organizational Chart</a>
        
    </li>

</ul>



<!-- start drawing chart-->
{% block content %}
    
    {% if user.is_authenticated %}

        {% include "chart/treeroot.html" %}
  

    <table>   
        <thead>
            <th>Display Name</th>
            <th>EmailAddress</th>
        </thead>
        <tbody>
        {% for member in groups %}
<!---            {%if member.displayName != None %} -->
            {% url 'chart:detail' member.id as groupid %}
            <tr>
                <td><a href="{{groupid}}">{{member.displayName}}</a></td>
                <td>{{member.mail}}</td>
            </tr>
<!--            {% endif %} -->
        {% endfor %}

        {% for member in users %}
            <tr>
                <td>{{member.displayName}}</td>
                <td>{{member.mail}}</td>
            </tr>                    
        {% endfor %}

        </tbody>
    </table>
    {% endif %}
{% endblock %}

    </body>
</html>

