<div class="tree">
<ul>
    {% for member in hab.child %}
    <li>
        {% if member.type == '#microsoft.graph.group' %}
        <a class="group" href="javascript:expand('{{member.id}}')">{{member.displayName}}</a>

        <div class="groupMembers" id="{{member.id}}">
            {% if member.child %}
                {% with hab=member %}
                    {% include "chart/hab_child.html" %}
                {% endwith %}
            {% endif %}
        </div>
        {% else %}
            <table>
            <td><a class="user" href="https://teams.microsoft.com/l/chat/0/0?users={{member.mail}}" target="_blank">{{member.displayName}} {{member.jobTitle}}</a></td>
                    <td>
                    <a class="businessPhone">{{member.businessPhones.0}}</a></td>
                    <td>
                    <a class="mail">{{member.mail}}</a></td>
            </table>
        {% endif %}
        
    </li>
    {% endfor %}
</ul>
</div>
