<div class="tree">

    <ul>
    {% for member in hab.child %}
        <li>
            {% if member.type == '#microsoft.graph.group' %}
                <a class="group"  href="javascript:expand('{{member.id}}')">{{member.displayName}}</a>
                <div class="groupMembers" id="{{member.id}}">
                {% if member.child %}
                    {% with hab=member %}
                        {% include "chart/hab_child.html" %}
                    {% endwith %}
                {% endif %}
                </div>   
            {% else %}
                <a class="user">{{member.displayName}}</a>
            {% endif %}
                
        </li>
    {% endfor %}
    </ul>
</div>        


