{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HAB</title>
        <script type="text/javascript" src="{% static 'chart/hab.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'chart/hab.css' %}">

    </head>
    <body>


<div class="parents">

    <ul>
        <li><a href="javascript:expand('{{hab.value.0.id}}')">{{hab.value.0.displayName}}</a>
        <div id="{{hab.value.0.id}}">

        {% include "chart/habbody.html" %}
        </div>      
        </li>
    </ul>

</div>

    </body>
</html>
