<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Who is it?</title>
    </head>
    <body>

        {% include 'chart/who.html' %}

    <br>


    {%if users %}
        {% for user in users %}
        <table>
            <tr>
                <td>DisplayName</td><td>{{user.displayName}} {{user.jobTitle}}</td>
            </tr>
            <tr>
                <td>Email</td><td>{{user.mail}}</td>
            </tr>
            <tr>
                <td>Department</td><td>{{user.department}}</td>
            </tr>
            <tr>
                <td>Office</td>
                <td>
                {% for number in user.businessPhones %}
                
                    {{number}}<br>
                
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Mobile</td><td>{{user.mobilePhone}}</td>
            </tr>
        </table>
        <br>
        {% endfor %}

    {% else %}
        <h1>검색 결과 없음</h1>
    {% endif %}

    <ul>
        <li>
            <a href="{% url 'chart:index' %}">Go back to index...</a>
        </li>

    </ul>


    </body>
</html>

