body {
  font-family: sans-serif;
  font-size: 15px;
}

:root{
--border-width: 1px;
--reverse: false;
--ul-padding: 1.5em;
}

.parents ul{
  padding-left: var(--ul-padding);

}

.parents li{
  list-style:none;
  padding-left: 0;

}

.parents li a{

}

.parents li a:hover,
.parents li a:hover+ul li a {

}

.parents li a:hover + ul li::after, 
.parents li a:hover + ul li::before, 
.parents li a:hover + ul::before, 
.parents li a:hover + ul ul::before{

}


.tree {

}


.tree ul {
  padding-left: var(--ul-padding);

}


.tree li {
  list-style:none;
  padding:1em,0,1em,0;
}


.tree li a {

}

.tree li a:hover,
.tree li a:hover+ul li a {

}

.tree li a:hover + ul li::after, 
.tree li a:hover + ul li::before, 
.tree li a:hover + ul::before, 
.tree li a:hover + ul ul::before{

}

.groupMembers{
  display: none;
}

.groupMembers ul li {
  padding-top:.1em;
}

.user{
  display:inline-block;
  padding:0.5em;
  text-decoration: none;
}

.group{
  border-style:solid;
  border-color: #ccc;
  border-width: 1px;
  padding:.4em;
  display:inline-block;
  border-radius:5px;
  text-decoration:none;
  color: black;
  margin: .3em 0;
}



.tree li::before{
  content: "";
/*  border-left: var(--border-width) solid #ccc ;
  border-bottom: var(--border-width) solid #ccc;
*/
  margin: 0 ;

}

.group:hover{
  background: #e9453f;
  color: #FFF;
}

.group_expand{
  text-decoration: none;
  font-weight: bolder;
  padding-right: .5em;
}

.hab_root{
  border-style:solid;
  border-color: #ccc;
  border-width: 1px;
  padding:.4em;
  display:inline-block;
  border-radius:5px;
  text-decoration:none;
  color: black;
  margin: .3em;
}

.detail{
  display: none;
  padding: 0.4em;
}