body {
  font-family: sans-serif;
  font-size: 15px;
}
/*
:root{
--border-width: 1px;
--reverse: false;
}

.parents ul{
  position: relative;
	padding: 1em .5em 0 .5em; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

.parents li{
  display: block; 
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
  padding: 1em .5em 0 .5em;
}

.parents li a{
  border: var(--border-width) solid #ccc;
	padding: .5em .75em;
	text-decoration: none;
	display: block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: var(--border-width);
  @if var(--reverse) {
    transform: rotate(180deg);
  }
}

.parents li a:hover,
.parents li a:hover+ul li a {
	background: #e9453f;
  color: #fff;
  border: var(--border-width) solid #e9453f;
}

.parents li a:hover + ul li::after, 
.parents li a:hover + ul li::before, 
.parents li a:hover + ul::before, 
.parents li a:hover + ul ul::before{
	border-color:  #e9453f;
}


.tree {
  @if var(--reverse) {
    transform: rotate(180deg);
    transform-origin: 50%;
  }
}


.tree ul {
  position: relative;
	padding: 1em 0; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}


.tree li {
  display: block; 
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
  padding: 1em .5em 0 .5em;
}


.tree li a {
	border: var(--border-width) solid #ccc;
	padding: .5em .75em;
	text-decoration: none;
	display: block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: var(--border-width);
  @if var(--reverse) {
    transform: rotate(180deg);
  }
}

.tree li a:hover,
.tree li a:hover+ul li a {
	background: #e9453f;
  color: #fff;
  border: var(--border-width) solid #e9453f;
}

.tree li a:hover + ul li::after, 
.tree li a:hover + ul li::before, 
.tree li a:hover + ul::before, 
.tree li a:hover + ul ul::before{
	border-color:  #e9453f;
}
*/
.groupMembers{
  display: none;
}