body {
  font-family: sans-serif;
  font-size: 15px;
}

:root{
--border-width: 1px;
--reverse: false;
}

.parents ul{
  position: relative;
	padding: 1em .5em 0 .5em; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

.parents li{
  display: inline-block; 
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
  padding: 1em .5em 0 .5em;
}

.parents li a{
  border: var(--border-width) solid #ccc;
	padding: .5em .75em;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: var(--border-width);
  @if var(--reverse) {
    transform: rotate(180deg);
  }
}

.parents li::after {
  right: auto; 
  left: 50%;
  border-left: var(--border-width) solid #ccc;
}
.parents li:only-child::after,
.parents li:only-child::before {
  display: none;
}
.parents li:only-child {
  padding-top: 0;
}
.parents li:first-child::before,
.parents li:last-child::after {
  border: 0 none;
}
.parents li:last-child::before{
  border-right: var(--border-width) solid #ccc;
  border-radius: 0 5px 0 0;
}
.parents li:first-child::after{
  border-radius: 5px 0 0 0;
}

.parents li a:hover,
.parents li a:hover+ul li a {
	background: #5558AF;
  color: #fff;
  border: var(--border-width) solid #5558AF;
}

.parents li a:hover + ul li::after, 
.parents li a:hover + ul li::before, 
.parents li a:hover + ul::before, 
.parents li a:hover + ul ul::before{
	border-color:  #5558AF;
}


.tree {
  @if var(--reverse) {
    transform: rotate(180deg);
    transform-origin: 50%;
  }
}


.tree ul {
  position: relative;
	padding: 1em 0; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
  .tree ul::after {
    content: '';
    display: table;
    clear: both;

  
  }

  .tree ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: var(--border-width) solid #ccc;
    width: 0;
    height: 1em;
  }




.tree li {
  display: inline-block; 
  vertical-align: top;
  text-align: center;
	list-style-type: none;
	position: relative;
  padding: 1em .5em 0 .5em;
}
  .tree li::before,
  .tree li::after {
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: var(--border-width) solid #ccc;
    width: 50%; 
    height: 1em;
  }
  .tree li::after {
    right: auto; 
    left: 50%;
	  border-left: var(--border-width) solid #ccc;
  }
  .tree li:only-child::after,
  .tree li:only-child::before {
    display: none;
  }
  .tree li:only-child {
    padding-top: 0;
  }
  .tree li:first-child::before,
  .tree li:last-child::after {
    border: 0 none;
  }
  .tree li:last-child::before{
    border-right: var(--border-width) solid #ccc;
    border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after{
    border-radius: 5px 0 0 0;
  }


.tree ul ul::before{
	content: '';
	position: absolute; 
  top: 0; 
  left: 50%;
	border-left: var(--border-width) solid #ccc;
	width: 0; 
  height: 1em;
}

.tree li a {
	border: var(--border-width) solid #ccc;
	padding: .5em .75em;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
  color: #333;
  position: relative;
  top: var(--border-width);
  @if var(--reverse) {
    transform: rotate(180deg);
  }
}

.tree li a:hover,
.tree li a:hover+ul li a {
	background: #5558AF;
  color: #fff;
  border: var(--border-width) solid #5558AF;
}

.tree li a:hover + ul li::after, 
.tree li a:hover + ul li::before, 
.tree li a:hover + ul::before, 
.tree li a:hover + ul ul::before{
	border-color:  #5558AF;
}

.userName{
  text-decoration: none;
  color: #5558AF;
  text-align: center;
}
.mail{
  text-decoration: none;
  color: #5558AF;
  text-align: center;
}